
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
  font-family: "Open Sans", "Segoe UI", Osaka, "Helvetica Neue", Verdana, sans-serif;
  font-size: 14px;
}

.nav {
  color: #888;
  font-size: 12px;
  text-align: right;
}

.nlink {
  color: #777;
  text-decoration: none; 
}

.nlink:hover {
  background-color: #f0f0f0;
  color: #555;
}

.inpage {
  border-bottom: 1px solid #e2e2e2;
  color: #222;
  text-decoration: none;
}

.inpage:hover {
  background-color: #f5f5f5;
  border-bottom: 1px solid #aaa;
  color: #555;
}

.levbar {
  background-color: #f5f5f5;
  border-right: 1px solid #ddd; 
  height: 100%; 
  left: 0px;
  position: fixed; 
  top: 0px; 
  width: 13em; 
}

.main {
  position: absolute; 
  left: 15em; 
  width: 75%;
}

h1, h2, h3, h4, h5 {
  border-bottom: 1px solid #e9e9e9;
  color: #777;
  font-weight: lighter;
  padding: 8px 0 8px 0;
  margin-top: 32px;
}

.pkg-name {
  font-weight: normal;
}

.page-title {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; 
  color: #666; 
  font-weight: lighter;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

dt  {
  color: #888;
  font-weight: bold;
}

th  {
  color: #888;
  font-weight: bold;
  text-align: left;
}

.field  {
  background-color: #f5f5f5;
  text-align: right;
}

.levbar-list {
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  list-style-type: none;
  padding: 5%;
}

.pkg-list {
  color: #999;
  list-style-type: none;
}

.letter-list a {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.footer-note {
  border-top: 1px dashed #e5e5e5;
  color: #aaa;
  font-size: 12px;
  padding: 8px 0 48px 0;
  margin-top: 64px;
  text-align: right;
}

.repoview {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}

.repoview:hover {
  color: #222;
  font-weight: bold;
}

ul span {
  font-style: normal;
}

li {
  padding: 4px 0 4px 0;
}

pre {
  color: #555;
  font-family: Monaco, Consolas, "Courier New", monospace;
}

.changelog {
  font-size: 12px;
}

.changelog-date {
  color: #888;
}

td {
  color: #222;
}

td a {
  border-bottom: 1px solid #e2e2e2;
  color: #222;
  text-decoration: none;
}

td a:hover {
  background-color: #f5f5f5;
  border-bottom: 1px solid #aaa;
  color: #555;
}

.pkg-size {
  color: #888;
  font-size: 10px;
  font-weight: bold;
  vertical-align: text-top;
  white-space: nowrap;
}
